body {
  text-align: center;
  background-color: rgb(102, 173, 255);
}

.logo {
  position:absolute;
  top: 20%;
  left: 33%;
  font-size: 150px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.green {
  color: #a2ff5f;
}

.white {
  color: #ffffff;
}

.red {
  color: #bb1c39;
}
.yellow {
  color: #fcdc10;
}

.purple {
  color: #bd2ec2;
}

input {
  font: inherit;
  height: 40px;
  width: 420px;
  background-color: #fff;
  border: 1px solid #949393;
}

input:focus{
  border: 1px solid #000000;
}
.search_bar {
  position: fixed;
  top: 50%;
  left: 38%;
}

button {
  font-size: 25px;
  height: 45px;
  color: rgb(0, 156, 156);
  border-color: cyan;
  box-shadow:darkslategrey;
  background: #fff;
  border-radius: 4px;
}

button:hover {
  transform: translateY(-1px);
  font-weight: bold;
}

button:active {
  transform: translateY(1px);
  font-weight: bold;
}

