body {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.search_bar {
  position: absolute;
  top: 50%;
  left: 42%;
}

.logo {
  position:absolute;
  top: 20%;
  left: 33%;
  font-size: 150px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.green {
  color: #98c379;
}

.blue {
  color: #56b6c2;
}

.yellow {
  color: #c6ad00;
}

.purple {
  color: #b400b9;
}

.red {
  color: #c62d48;
}


input {
  height: 30px;
  width: 380px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d4dada;
  border-radius: 3px;
  box-shadow: none;
  vertical-align: bottom;
  font: inherit;
}

input:focus {
  border: 1px solid #98c379;
  outline: 0; 
}

button {
  height: inherit;
  border: 0;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #56b6c2;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 1px 3px rgba(0, 0, 0, 0.08);
}


